#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
  
}

/* ExpenseTable.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-family: Arial, sans-serif;
  flex-direction: row;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f9f9f9;
}

th {
  color: #333;
  font-weight: bold;
}

td {
  color: #555;
}

/* ExpenseForm.css */
.expense-form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expense-form-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.expense-form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expense-form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

#sub-btn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sub-btn:hover {
  background-color: #45a049;
}



